################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/appFitness/FileContentIndex/196a675d-e6af-41ba-9977-30de8b8d935c.vsidx
/.vs/appFitness/FileContentIndex/8ca0e5f0-8aae-43f1-b196-08b03d27d9b9.vsidx
/.vs/appFitness/FileContentIndex/c5870c8e-a46c-4b39-9f07-9ae577c4fb25.vsidx
/.vs/appFitness/FileContentIndex/dbed5390-43c0-4295-bbb2-baac73cde3a6.vsidx
/.vs/appFitness/FileContentIndex/fe8f26ac-fa24-41b2-b383-bed774c7a768.vsidx
